@import url(./global.css);

#app {
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--background-primary);
}

#layout {
    max-width: 54.375rem;
    margin: 0 auto;
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#logo {
    width: max-content;
    padding: 0.75rem 1.25rem;
    background-color: var(--background-tertiary);
    border-radius: 0 0 0.75rem 0;
    margin-bottom: 9px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#title h1 {
    font: var(--font-title);
    color: var(--content-primary);
}

#title p {
    font: var(--font-p-md);
    color: var(--content-secondary);
}

.date-wrapper {
    width: max-content;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
}

#calendar {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    font-size: 1rem;
    color: var(--content-secondary);
}

#calendar::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.date-wrapper .date-icon {
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card {
    background-color: var(--background-tertiary);
    border-radius: 10px;
}

.title-card {
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

.title-time {
    font: var(--font-label-lg);
    color: var(--content-primary);
    text-align: start;
    flex: 1;
}

.time {
    font: var(--font-label-lg);
    color: var(--content-secondary);
}

.schedule {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {

    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}