@import url(./global.css);

#app {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    background-color: var(--background-primary);
    overflow-y: scroll;
}

#layout {
    max-width: 54.375rem;
    margin: 0 auto 8.75rem;
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#logo {
    width: max-content;
    padding: 0.75rem 1.25rem;
    background-color: var(--background-tertiary);
    border-radius: 0 0 0.75rem 0;
    margin-bottom: 9px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#title h1 {
    font: var(--font-title);
    color: var(--content-primary);
}

#title p {
    font: var(--font-p-md);
    color: var(--content-secondary);
}

.date-wrapper {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
}

.date-or-time-imput {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    font-size: 1rem;
    color: var(--content-secondary);
}

.date-or-time-imput::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.date-wrapper .date-icon {
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card {
    background-color: var(--background-tertiary);
    border-radius: 10px;
}

.title-card {
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    border-bottom: 1px solid var(--border-divisor);
}

.title-time {
    font: var(--font-label-lg);
    color: var(--content-primary);
    text-align: start;
    flex: 1;
}

.time {
    font: var(--font-label-lg);
    color: var(--content-secondary);
}

ul {
    padding: 1.25rem;
}

.schedule {
    padding: 1rem 0.75rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-divisor);
}

li:last-child .schedule {
    border: none;
}

.header-schedule {
    display: flex;
    gap: 0.75rem;
}

.time-schedule {
    font: var(--font-label-md);
    color: var(--content-primary);
}

.pet-and-tutor-info {
    width: 13.75rem;
    font: var(--font-p-md);
    color: var(--content-secondary);
}

.pet-name {
    font: var(--font-label-md);
    color: var(--content-primary);
}

.service {
    flex: 1;
    font: var(--font-p-md);
    color: var(--content-secondary);
    text-align: start;
}

.btn-remove-schedule {
    margin-top: 8px;
    background: none;
    border: none;
    font: var(--font-p-sm);
    color: var(--content-tertiary);
    text-align: end;
    transition: all 0.2s linear;
}

.btn-remove-schedule:hover {
    color: var(--content-primary);
    text-decoration: underline;
}

#footer-mobile {
    padding: 1.125rem;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-tertiary);
}

#footer-desktop {
    display: none;
}

.btn-default {
    width: max-content;
    padding: 1.125rem 1.5rem;
    background-color: var(--background-brand);
    border: none;
    border-radius: 8px;
    font: var(--font-label-lg);
    text-align: center;
    text-transform: uppercase;
    color: var(--content-quartiary);
    transition: background-color 0.2s linear;
}

.btn-default:hover {
    background-color: var(--background-highlights);
}

#modal-container {
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: absolute;
    top: 0;
    background-color: var(--black);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

#modal-content {
    padding: 8px 1.25rem 2.5rem;
    background-color: var(--background-tertiary);
    border-radius: 0.75rem;
}

#btn-close-modal {
    margin-left: auto;
    display: block;
}

#header-modal h2 {
    margin-bottom: 4px;
    font: var(--font-title);
    color: var(--content-primary);
}

#header-modal p {
    margin-bottom: 1.75rem;
    font: var(--font-p-md);
    color: var(--content-secondary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#time-and-date {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.form-group label {
    font: var(--font-label-md);
    color: var(--content-primary);
    margin-bottom: 4px;
}

.input-wrapper {
    padding: 0.75rem;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
}

.input-wrapper:hover {
    border-color: var(--border-secondary);
}

.input-wrapper:has(:focus) {
    border-color: var(--border-brand);
}

.input-wrapper:has(:focus) input {
    color: var(--content-primary);
}

@media (min-width: 768px) {

    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #layout {
        padding: 0.75rem 5rem;
    }

    .schedule {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #time-and-date {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {

    #footer-mobile {
        display: none;
    }

    #footer-desktop {
        display: flex;
        position: fixed;
        bottom: 33px;
        right: 21px;
    }
}